.title{
    font-size: 2.5rem;
    padding-bottom: 5px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    gap: 10px;
}

.sun{
    padding-bottom: 10px;
}

